.github
.idea
.eslintcache
.vscode/launch.json
.version
.nx

.gitignore
lintstagedrc.json
bun.lockdb
eslint.config.js
tsconfig.json
tsconfig.build.json
.lintstagedrc.json 
bun.lockb  
rspack.config.js 
vitest.config.ts  

__tests__/
types/__tests__/
src/__tests__/
examples/
coverage/
